Source: openpanel-mod-mysql
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com
Build-Depends: debhelper (>= 5), libmysqlclient15-dev, imagemagick, libgrace, libgrace-devel, openpanel-mkmodulexml, openpanel-devel, openpanel-core, libssl-dev
Standards-Version: 3.7.2

Package: openpanel-mod-mysql
Architecture: any
Depends: openpanel-core (>= 0.8.3), openpanel-mod-user, mysql-server, sharutils
Description: OpenPanel module to manage the MySQL database
 Openpanel mysql management module
